<%= @player.name %> vs Computer

<form action = "/results" method = "post">
  <label for ="Player_Weapon">
    <input type="text" name ="weapon">
    <input type ="submit" value="Submit">
  </label>
</form>